{% extends "base.html" %}
{% block title %}User list{% endblock %}
{% block headercontents %}
<link rel="stylesheet" href="/static/css/user-list.css">
{% endblock %}
{% block content %}
<div class="user-container">
    {% for first_letter, data in users.items() %}
        <div class="user-category">
            <h2>{{ first_letter }}</h2>
            <div class="user-list">
            {% for user in data %}
                <div class="user-item">
                    <h3>{{ user.username }}</h3>
                    <div class="user-options">
                        <a href="/user/{{ user.username }}/votes">Vote history</a>
                        <a href="/user/{{ user.username }}/submissions">Submissions</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}