{% extends "base.html" %}
{% block title %}Submissions: {{ username }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/submissions.css">
    <script src="/static/js/sort-table.js"></script>
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="{{ url_for('user.index') }}">Users</a>
    <span class="nav-separator"></span>
    <a class="nav-item" href="{{ url_for('user.profile', username=username) }}">{{ username }}</a>
{% endblock %}
{% block content %}
{% if not closed %}
<div class="banner compact">
    <p>Highlighted songs are placeholders and can be replaced by any other user.</p>
</div>
{% endif %}

<table class="songs-table sortable">
    <thead>
        <tr>
            <th>Year</th>
            <th>Country</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr data-value="{{ loop.index }}" class="{{ "placeholder" if song.placeholder else "" }}">
            <td><a href="{{ url_for('year.year', year=song.year) }}">{{ song.year }}</a></td>
            <td><a href="{{ url_for('country.country', code=song.country.cc.lower()) }}"><div class="country">
                    {{ flag(song.country.cc, 40, song.country.name) }}
                    <span>{{ song.country.name }}</span>
            </div></a></td>
            <td>{{ song.artist }}</td>
            <td><a class="song-title" href="{{ url_for('country.details', code=song.country.cc.lower(), year=song.year) }}">
                <span lang="{{song.title_lang.str('Latn', song.country.cc2)}}">{{ song.title or '' }}</span>
                {% if song.native_title %}
                <bdi lang="{{song.title_lang.str(None, song.country.cc2)}}">{{ song.native_title }}</bdi>
                {% endif %}
            </a></td>
            <td>{{ song.languages|map(attribute="name")|join(', ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}