{% extends "base.html" %}
{% block title %}Submissions: {{ username }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/submissions.css">
{% endblock %}
{% block content %}
{% if not closed %}
<div class="banner compact">
    <p>Songs in <i>italics</i> are placeholders and can be replaced by any other user.</p>
</div>
{% endif %}

<table class="songs-table sortable">
    <thead>
        <tr>
            <th><div>Year</div></th>
            <th><div>Country</div></th>
            <th><div>Artist</div></th>
            <th><div>Title</div></th>
            <th><div>Language</div></th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr class="{{ "placeholder" if song.placeholder else "" }}">
            <td><a href="{{ url_for('year.year', year=song.year) }}">{{ song.year }}</a></td>
            <td><div class="country">{{ flag(song.country.cc, 40, song.country.name) }}
                <span href="/country/{{ song.country.cc }}">{{ song.country.name }}</span></div></td>
            <td>{{ song.artist }}</td>
            <td><div class="song-title">
                    <span lang="{{song.title_lang.str()}}">{{ song.title }}</span>
                    {% if song.native_title %}
                    <bdi lang="{{song.title_lang.str()}}">{{ song.native_title }}</bdi>
                    {% endif %}
                </div></td>
            <td>{{ song.languages|map(attribute="name")|join(', ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}