{% extends "base.html" %}
{% block title %}Voting History: {{ username }}{% endblock %}
{% block headercontents %}
<link rel="stylesheet" href="/static/css/user-votes.css">
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="{{ url_for('user.index') }}">Users</a>
    <span class="nav-separator"></span>
    <a class="nav-item" href="{{ url_for('user.profile', username=username) }}">{{ username }}</a>
{% endblock %}
{% block content %}
{% if votes %}
<div class="vote-card-container">
{% for vote in votes %}
<div class="vote-card">
    <h3 class="card-show-name"><a href="{{ url_for('year.results', year=(vote.year or 'special'), show=(vote.short_name)) }}">{{ vote.year or '' }} {{ vote.show_name }}</a></h3>
    <p class="vote-date">{{ vote.date }}</p>
    <p class="voter-name">{{ flag(vote.code, 42) }}{{ vote.nickname }}</p>
    <table class="user-votes">
        <tbody>
        {% for v in vote.points %}
            <tr class="{{ v.class }}">
                <td><div class="song-container">{{ flag(v.code, 36) }} <div class="song-title">{{ v.title }}</div></div></td>
                <td class="points-data">{{ v.pts}} pts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}