{% extends "base.html" %}
{% block title %}Open Votings{% endblock %}
{% block content %}

{% if shows %}
<ul>
    {% for show in shows %}
        <li>
            <a href="{{ url_for('vote.vote', show=show.short_name) }}">{{ show.name }}</a>
            {% if show.predictions_open %}
            &nbsp;·&nbsp;
            <a href="{{ url_for('vote.predict', show=show.short_name) }}">Predict</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
<h2 class="center">No open votings.</h2>
{% endif %}

{% endblock %}
