{% extends "base.html" %}
{% block title %}Vote - {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/vote.css">
    <link rel="stylesheet" href="/static/css/forms.css">
    <script src="/static/js/vote.js"></script>
{% endblock %}
{% block content %}

{% for error in errors %}
    <p class="error">{{ error }}</p>
{% endfor %}

<div class="big">{{ vote_count }} people have already voted</div>

<div class="banner long-text">
    <div>
        <dl>
            <dt><strong>Voter Name</strong> (Mandatory)</dt>
            <dd>The username you use to log in. Will be automatically filled if you're logged in.</dd>
            <dt><strong>Display Name</strong></dt>
            <dd>The name you want to be displayed on the scoreboard. If left blank, will default to the username.</dd>
            <dt><strong>Country</strong> (Required)</dt>
            <dd>The flag you're voting under. If you submitted an entry, you may only choose a flag of
                one of the countries you've submitted for. Otherwise, you can choose any country.</dd>
            </dd>
        </dl>
    </div>
</div>

<div class="banner long-text">
    <strong>You're allowed to vote for all entries apart from your own submissions,
    including entries from your own country.</strong>
</div>

<form method="POST">
    <fieldset class="grid-3">
        <legend>User data</legend>
            <label class="req" title="Your submitter name. Doesn't change." for="username">Voter Name</label>
            <div></div>
            <input type="text" name="username" value="{{ username or "" }}" maxlength="64" required>
            <label title="The name you want to be displayed on the scoreboard." for="nickname">Display Name</label>
            <div></div>
            <input type="text" name="nickname" value="{{ nickname or "" }}" maxlength="64">
            <label class="req" title="The country to display on the scoreboard." for="country">Country</label>
            <div class="flag-container">
                <img class="flag" id="display-flag"
                     src="/flag/{{selected_country or 'XXX'}}.svg?s=30"
                     height="30" width="45">
            </div>
            <select name="country" id="country"
                    onchange="updateFlag(this)"
                    data-flag="display-flag">
                <option data-country="XXX" value="XXX">Select a country</option>
            {% for country in countries %}
                <option value="{{ country.cc }}" data-country="{{country.cc}}"
                        {% if country.cc == selected_country %}selected{% endif %}>
                    {{ country.name }}
                </option>
            {% endfor %}
            </select>
        </fieldset>
        <fieldset class="grid-3">
            <legend>Songs</legend>
        {% for point in points %}
            {% set pl = loop %}
            <label for="pts-{{point}}" class="req">{{point}} points</label>
            <div class="flag-container">
                <img class="flag" id="flag-{{point}}"
                     src="/flag/{{selected[point]['cc'] or 'XXX'}}.svg?s=30"
                     height="30" width="45">
            </div>
            <select name="pts-{{point}}" id="pts-{{point}}" data-flag="flag-{{point}}"
                    class="{% if point in invalid %}invalid{% else %}valid{% endif %}"
                    onchange="updateFlag(this)">
                <option data-country="XXX" value=""></option>
            {% for song in songs %}
                <option value="{{song.id}}"
                        data-country="{{song.country.cc}}"
                        {% if (selected[point]['sid'] == song.id) %}selected{% endif %}>
                    {{song.country.name}} ({{song.title}})
                </option>
            {% endfor %}
            </select>
        {% endfor %}
        </fieldset>
    </div>
     <fieldset class="grid">
            <legend>Recap</legend>
            {% set url = "https://media.world-stage.org/recaps/" ~ year ~ short_name ~ ".mov" %}
            <video width="560" height="315" controls><source src="{{ url }}" type="video/mp4">Your browser does not support the video tag.</video>
    </fieldset>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}