{% extends "base.html" %}
{% block title %}Vote - {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/vote.css">
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block content %}

{% for error in errors %}
    <p class="error">{{ error }}</p>
{% endfor %}

<div class="banner">
    <dl>
        <dt><strong>Voter Name</strong> (Mandatory)</dt>
        <dd>The username you use to log in. Will be automatically filled if you're logged in.</dd>
        <dt><strong>Display Name</strong></dt>
        <dd>The name you want to be displayed on the scoreboard. If left blank, will default to the username.</dd>
        <dt><strong>Country</strong> (Required)</dt>
        <dd>The flag you're voting under. Check in with the jury list spreadsheet for more information.
            You may not vote for this country (or any of your submissions) while voting.</dd>
    </dl>
</div>

<form method="POST">
    <fieldset class="grid">
        <legend>User data</legend>
            <label class="req" title="Your submitter name. Doesn't change." for="username">Voter Name</label>
            <input type="text" name="username" value="{{ username or "" }}" maxlength="64" required>
            <label title="The name you want to be displayed on the scoreboard." for="nickname">Display Name</label>
            <input type="text" name="nickname" value="{{ nickname or "" }}" maxlength="64">
            <label class="req" title="The country to display on the scoreboard." for="country">Country</label>
            <select name="country" id="country">
                <option value="XXX">Select a country</option>
            {% for country in countries %}
                <option value="{{ country.cc }}" {% if country.id == selected_country %}selected{% endif %}>{{ country.name }}</option>
            {% endfor %}
            </select>
        </fieldset>
        <fieldset class="grid">
            <legend>Songs</legend>
        {% for point in points %}
            {% set pl = loop %}
            <label for="pts-{{point}}">{{point}} points<span class="req">*</span></label>
            <select name="pts-{{point}}" id="pts-{{point}}" class="{% if point in invalid %}invalid{% else %}valid{% endif %}">
                <option value=""></option>
            {% for song in songs %}
                <option value="{{song.id}}" {% if (selected[point] == song.id) %}selected{% endif %}>
                    {{song.title}} ({{song.artist}})
                </option>
            {% endfor %}
            </select>
        {% endfor %}
        </fieldset>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

{% endblock %}