{% extends "base.html" %}
{% block title %}Homepage: {{ username }}{% endblock %}
{% block content %}
<div class="cards-container">
    <a href="{{ url_for('member.submit') }}" class="card">
        <h3>Submit/Edit</h3>
        <img src="/static/images/submit.png" alt="Submit Icon">
        <p>Submit or edit a song for one of the next World Stage editions.</p>
    </a>
    <a href="{{ url_for('user.submissions', username=(username)) }}" class="card">
        <h3>Submissions</h3>
        <img src="/static/images/history.png" alt="History Icon">
        <p>Check out your past submissions.</p>
    </a>
    <a href="{{ url_for('user.votes', username=(username)) }}" class="card">
        <h3>Previous votes</h3>
        <img src="/static/images/hands.png" alt="Hands Icon">
        <p>Check out your past votes.</p>
    </a>
    <a href="{{ url_for('user.bias', username=username) }}" class="card">
        <h3>Bias</h3>
        <img src="/static/images/bias.png" alt="Bias Icon">
        <p>Check out your biases.</p>
    </a>
</div>
{% endblock %}