{% extends "base.html" %}
{% block title %}Submit/edit a song{% endblock %}
{% block headercontents %}
    <script>
        const year = "{{ year or '' }}";
        const country = "{{ country or '' }}";
    </script>
    <script src="/static/js/submit.js"></script>
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block onload %}onLoad(){% endblock %}
{% block content %}
<div id="rules" class="banner compact">
<p>Please remember that it's <b>your</b> responsibility to verify that:</p>
<ul>
    <li>The song is not a cover</li>
    <li>The song was released in the year you selected</li>
    <li>The duration of the song is less than 8 minutes</li>
    <li>The song has lyrics</li>
    <li>The song isn't too famous</li>
</ul>
</div>
<div class="banner long-text">
    <div>
    <details>
        <summary>Detailed explanations of every field</summary>
        <dl>
            <dt><strong>Artist</strong> (Mandatory)</dt>
            <dd>The name of the artist. Write this in Latin script.</dd>
            <dt><strong>Latin title</strong>  (Mandatory)</dt>
            <dd>The title of the song in Latin alphabet. It can either be a translation of the native title or a romanization.</dd>
            <dt><strong>Is the Latin title a translation?</strong></dt>
            <dd>Check this box if the Latin title is a translation of the native title into English.</dd>
            <dt><strong>Native title</strong></dt>
            <dd>The title of the song in its original script. If the original script is already a Latin script,
            please do not fill this in at all unless you're providing a translation.</dd>
            <dt><strong>Does the title and song languages match?</strong></dt>
            <dd>Check this box if the language of the title matches the language of the song.
            If the title is in a different language, please select the language of the title in the next field.</dd>
            <dt><strong>Native title language</strong> (hidden by default)</dt>
            <dd>The language of the native title.
            Provided for cases where the language of the title doesn't match the language of the song.
            You may leave this on "Select a language" if the language of the title matches the song.</dd>
            <dt><strong>Placeholder?</strong></dt>
            <dd>Check this box if the song is a placeholder. This means that the song is free to be claimed or replaced by any other participant.</dd>
            <dt><strong>Language 1</strong> (Mandatory)</dt>
            <dd>The language of the song. If the song is in multiple languages, please select the most prominent one.</dd>
            <dt><strong>Additional languages</strong></dt>
            <dd>If the song is in multiple languages, please select the additional languages in decreasing order of prominence.
            You can add as many languages as you want, although limit yourself to 2-3.
            Please do not include short phrases in other languages as a whole language.</dd>
            <dt><strong>Video URL</strong> (Mandatory)</dt>
            <dd>The URL of the song's video. If you don't have it yet, please put N/A.</dd>
            <dt><strong>Recap snippet start</strong></dt>
            <dd>The start time of the recap snippet. This is the time in the video where the recap starts.</dd>
            <dt><strong>Recap snippet end</strong></dt>
            <dd>The end time of the recap snippet. This is the time in the video where the recap ends. Must be at most 20 seconds after the start.</dd>
            <dt><strong>English lyrics</strong></dt>
            <dd>The English lyrics of the song.</dd>
            <dt><strong>Native lyrics (Latin alphabet)</strong></dt>
            <dd>The native lyrics of the song in Latin alphabet.</dd>
        </dl>
    </details>
    </div>
</div>
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
<p id="error-message" class="error hidden"></p>
<form id="submit-song" name="submit_song" method="POST">
    <fieldset class="grid" id="select-submission">
        <legend>Submit for</legend>
        <label for="year">Year</label>
        <select id="year" name="year" onchange="populateCountries(this)">
            <option value="">Select a year</option>
            {% for y in years %}
                <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>

        <label class="hidable" for="country">Country</label>
        <select class="hidable" id="country" name="country" onchange="populateSongData()">
            <option value="">Select a country</option>
            <optgroup id="own-countries" label="Your submissions">
                {% for c in countries.own %}
                    <option value="{{ c.id }}" {% if c.id == country %}selected{% endif %}>{{ c.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup id="available-countries" label="Available countries">
                {% for c in countries.placeholder %}
                    <option value="{{ c.id }}" {% if c.id == country %}selected{% endif %}>{{ c.name }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </fieldset>

    <fieldset class="grid hidable">
        <legend>Song information</legend>
        <label class="req" for="artist">Artist</label>
        <input type="text" id="artist" name="artist" placeholder="Artist name" required maxlength="150" minlength="1" value="{{ data.artist }}">
        <label class="req" for="song">Latin title</label>
        <input type="text" id="title" name="title" placeholder="Song title" required maxlength="100" minlength="1" value="{{ data.title }}">
        <div class="span-fieldset">
            <div><small>Please enter the title in Latin script. If the song is natively written in a non-Latin script, please enter a transliteration.</small></div>
            <div><small>Please keep all diacritics on Latin letters as is.</small></div>
        </div>
        <div class="span-fieldset">
            <div>
                <input type="checkbox" id="is_translation" name="is_translation" {% if data.is_translation %}checked{% endif %}>
                <label for="is_translation">Is the Latin title a translation?</label>
            </div>
        </div>
        <label for="native_title">Native title</label>
        <input type="text" id="native_title" name="native_title" placeholder="Native title" maxlength="100" value="{{ data.native_title }}">
        <div class="span-fieldset"><small>Please only enter this if the title is natively wrriten in a non-Latin script (Cyrillic, Greek, Chinese, Devanagari, Arabic etc).</small></div>
        <div class="span-fieldset">
            <div>
                <input type="checkbox" id="does_match" name="does_match" onchange="toggleTitleLanguageSelect(this)" {% if data.does_match %}checked{% endif %}>
                <label for="does_match">Title and song languages match?</label>
            </div>
        </div>
        <label for="song" class="hide-match">Title language</label>
        <select id="native_language_id" name="native_language_id" class="hide-match">
            <option value="">Select a language</option>
            {% for lang in languages %}
                <option value="{{ lang.id }}" {% if lang.id == native_language_id %}selected{% endif %}>{{ lang.name }}</option>
            {% endfor %}
        </select>
        <div class="span-fieldset">
            <div>
                <input type="checkbox" id="is_placeholder" name="is_placeholder" {% if data.is_placeholder %}checked{% endif %}>
                <label for="is_placeholder">Placeholder?</label>
            </div>
        </div>
    </fieldset>

    {% if elevated %}
    <fieldset class="grid hidable">
        <legend>Admin options</legend>
        <label for="force_submitter">Replacement submitter</label>
        <select id="force_submitter" name="force_submitter">
            <option value="none">None</option>
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        <div class="span-fieldset">
            <div>
                <input type="checkbox" id="admin_approved" name="admin_approved" {% if data.admin_approved %}checked{% endif %}>
                <label for="admin_approved">Approved?</label>
            </div>
        </div>
    </fieldset>
    {% endif %}

    <fieldset class="nongrid hidable">
        <legend>Sources</legend>
        <div class="banner long-text">
            <div>
                Please provide sources for the release date of the song.
                If the sources aren't provided before the show,
                the song will not be approved by the admins.
            </div>
        </div>
        <div>
            <label for="sources" class="req">Sources</label>
        </div>
        <textarea id="sources" name="sources" rows="5" cols="50" required
            placeholder="Sources for the release date">{{ data.sources }}</textarea>
    </fieldset>

    <fieldset class="grid hidable">
        <legend>Languages</legend>
        {% for lang_id in selected_languages or [''] %}
            <label data-n="{{loop.index}}" class="req language-label" for="language{{loop.index}}">Language {{loop.index}}</label>
            <select data-n="{{loop.index}}" class="language-select" id="language{{loop.index}}" name="language{{loop.index}}" required>
                <option value="">Select a language</option>
                {% for lang in languages %}
                    <option value="{{ lang.id }}" {% if lang.id == lang_id %}selected{% endif %}>{{ lang.name }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        <div id="language-insert-before" class="span-fieldset" style="display: flex; justify-content: space-evenly;">
            <button type="button" onclick="addLanguageRow()">Add language</button>
            <button type="button" id="remove-language-button" onclick="removeLanguageRow()" disabled>Remove language</button>
        </div>
    </fieldset>

    <fieldset class="grid hidable">
        <legend>Song video</legend>
        <label for="video">Video URL</label>
        <input class="stretchable" id="video_link" name="video_link"
               placeholder="https://youtu.be/yxAXPIl1Ffo" maxlength="128" value="{{ data.video_link }}">
        <div class="span-fieldset">
            <div><small>This can be a youtube link, a google drive link or a direct link to an mp4 or webm file.</small></div>
        </div>
        <label for="snippet_start">Recap snippet start</label>
        <div>
        <input class="time-input" id="snippet_start" name="snippet_start" placeholder="00:00"
               maxlength="5" size="5" value="{{ data.snippet_start }}" pattern="\d{2}:\d{2}">
        </div>
        <label for="snippet_end">Recap snippet end</label>
        <div>
        <input class="time-input" id="snippet_end" name="snippet_end" placeholder="00:00"
               maxlength="5" size="5" value="{{ data.snippet_end }}" pattern="\d{2}:\d{2}">
        </div>
    </fieldset>

    <fieldset class="hidable nongrid">
        <legend>Lyrics</legend>
        <div class="banner long-text">
            <div>
                While entering the lyrics, you may use basic markup.
                You can use <code>*italics*</code> or <code>**bold**</code> to format the text.
                Additionally, you can enter a footnote by using <code>[NUMBER]</code> in the text,
                and then provide the footnote text in the footnotes section.
            </div>
        </div>
        <div class="banner long-text">
            <div>
                Make sure that each version of the lyrics has the same number of lines and that
                all the different parts of the lyrics (verses, chorus, bridge and so on) are
                separated with a double blank line (i.e. you hit the Enter/Return key twice).
            </div>
        </div>
        <details>
            <summary>English lyrics</summary>
            <div class="limit-length">
                If the song is fully in English, enter the lyrics only here. Otherwise, enter a full translation here.
            </div>
            <textarea id="english_lyrics" name="english_lyrics" rows="15" cols="50" placeholder="English lyrics">{{ data.english_lyrics }}</textarea>
        </details>
        <details>
            <summary>Native lyrics (Latin alphabet)</summary>
            <div class="limit-length">
                Leave blank if the song is natively in English.
                If the song is partially in English and a different language, enter full lyrics here.
                If the song lyrics are natively written in a script other than Latin, enter a transliteration here.
            </div>
            <textarea id="romanized_lyrics" name="romanized_lyrics" rows="15" cols="50" placeholder="Native lyrics (Latin alphabet)">{{ data.romanized_lyrics }}</textarea>
        </details>
        <details>
            <summary>Native lyrics (non-Latin alphabet)</summary>
            <div class="limit-length">
                If the song lyrics are already written in a Latin script, leave blank.
                Otherwise, enter song lyrics in their native non-Latin script (Cyrillic, Greek, Chinese, Devanagari, Arabic etc).
            </div>
            <textarea id="native_lyrics" name="native_lyrics" rows="15" cols="50" placeholder="Native lyrics">{{ data.native_lyrics }}</textarea>
        </details>
        <details>
            <summary>Footnotes</summary>
            <div class="limit-length">
                When entering footnotes, do not enter the number in the text, just write the content of the footnote.
                Separate each footnote with a blank line.
                The footnotes will be numbered automatically.
            </div>
            <textarea id="notes" name="notes" rows="15" cols="50" placeholder="Footnotes">{{ data.notes }}</textarea>
        </details>
    </fieldset>
    <div class="hidable buttons">
        <button type="submit" name="action" value="submit">Submit</button>
        <button type="submit" name="action" value="delete"
                onclick="return confirm('Are you sure you want to delete yout song?')"
                formnovalidate>
            DELETE
        </button>
    </div>
</form>
{% endblock %}