{%extends "base.html" %}
{% block title %}Detailed Results: {{year or ''}} {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/results.css">
    <script src="/static/js/sort-table.js"></script>
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="{{ url_for('year.year', year=year) }}">{{ year }}</a>
    <a class="nav-item" href="{{ url_for('year.results', year=year, show=show) }}">Results Summary</a>
    <a class="nav-item" href="{{ url_for('year.scoreboard', year=year, show=show) }}">Scoreboard</a>
{% endblock %}
{% block content %}
{% if secret %}
<div class="banner">
    <p>The detailed results are a secret until the end of the show.</p>
</div>
{% else %}
<div id="scroll-container">
    <table class="sortable with-sticky">
        <thead>
            <tr>
                <th>RO</th>
                <th class="sticky">Country</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Place</th>
                <th>Total</th>
            {% for voter, result in results.items() %}
                <th class="user-vote">
                    <div class="user-vote-container" title="{{ voter }}">
                        {{ flag(result.code, 30, result.country, class="vote-flag") }}
                        <div class="voter-name">{{ voter }}</div></div>
                    </div>
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            {% set class = {1: 'first', 2: 'second', 3:'third', participants: 'last'}.get(loop.index, '') %}
            {% set qclass = "direct-to-final" if (loop.index <= qualifiers) else "second-chance" if (qualifiers < loop.index <= sc_qualifiers) else "non-qualifier" %}
            <tr data-value="{{ loop.index }}" class="{{ class }} {{ qclass }}">
                <td class="number header-like">{{ song.vote_data.ro }}</td>
                <td class="sticky"><div class="country">{{ flag(song.country.cc, 24, song.country.name) }}{{ song.country.name }}</div></td>
                <td>{{ song.artist }}</td>
                <td><a href="{{ url_for('country.details', code=song.country.cc.lower(), year=song.year) }}">{{ song.title }}</a></td>
                <td class="number">{{ loop.index }}</td>
                <td class="number" data-value="{{ loop.revindex }}">{{ song.vote_data.sum }}</td>
            {% for voter in results.keys() %}
            {% set pts = results[voter].get(song.id, 0) %}
                <td class="number">{{ pts if pts != 0 else '' }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}