{% extends "base.html" %}
{% block title %}Years{% endblock %}
{% block headercontents %}
<link rel="stylesheet" href="/static/css/year.css">
    <script src="/static/js/sort-table.js"></script>
{% endblock %}
{% block content %}

<h2>Upcoming years</h2>
<div class="year-container">
    {% for year in upcoming %}
        <div class="upcoming-year">
            <a href="{{ url_for('year.year', year=year.id) }}">
                <div class="year-number">{{ year.id }}</div>
            </a>
        </div>
    {% endfor %}
</div>

<h2>Ongoing years</h2>
<div class="year-container">
    {% for year in ongoing %}
        <div class="upcoming-year">
            <a href="{{ url_for('year.year', year=year.id) }}">
                <div class="year-number">{{ year.id }}</div>
            </a>
        </div>
    {% endfor %}
</div>

<h2>Done years</h2>
<div class="sticky-header-table-container">
    <table class="results-table sticky-header-table sortable">
        <thead>
            <tr>
                <th>Year</th>
                <th>Winner</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Language</th>
                <th>Points</th>
                <th>% of Max</th>
                <th>Submitter</th>
            </tr>
        </thead>
        <tbody>
        {% for year in years %}
        {% set winner = year.winner %}
            <tr data-value="{{ loop.index }}">
                <td class="year"><a href="{{ url_for('year.year', year=year.id) }}"><b>{{ year.id }}</b></a></td>
                <td><a href="{{ url_for('country.country', code=winner.country.cc) }}"><div class="country">
                    {{ flag(winner.country.cc, 42, winner.country.name) }}
                    {{ winner.country.name }}
                </div></a></td>
                <td class="artist">{{ winner.artist }}</td>
                <td class="title">
                    <a class="song-title"
                       href="{{ url_for('country.details', code=winner.country.cc.lower(), year=winner.year) }}">
                        <span lang="{{winner.title_lang.str("Latn")}}">{{ winner.title }}</span>
                        {% if winner.native_title %}
                        <bdi lang="{{winner.title_lang.str()}}">{{ winner.native_title }}</bdi>
                        {% endif %}
                    </a>
                </td>
                <td class="language">{{ winner.languages|map(attribute="name")|join(', ') }}</td>
                <td class="points">{{ winner.vote_data.sum }}</td>
                <td class="percent">{{ winner.vote_data.pct() }}</td>
                <td class="submitter">{{ winner.submitter }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<h2>Specials</h2>
<div class="sticky-header-table-container">
    <table class="results-table sticky-header-table sortable">
        <thead>
            <tr>
                <th>Special</th>
                <th>Winner</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Language</th>
                <th>Points</th>
                <th>% of Max</th>
                <th>Submitter</th>
            </tr>
        </thead>
        <tbody>
        {% for special in specials %}
        {% set winner = special.winner %}
            <tr data-value="{{ loop.index }}">
                <td data-value="{{ loop.index }}" class="year"><a href="{{ url_for('year.results', year='special', show=special.short_name) }}"><b>{{ special.name }}</b></a></td>
                <td><div class="country">
                    {{ flag(winner.country.cc, 42, winner.country.name) }}
                    <span href="/country/{{ winner.country.cc }}">{{ winner.country.name }}</span>
                </div></td>
                <td class="artist">{{ winner.artist }}</td>
                <td class="title">{{ winner.title }}</td>
                <td class="language">{{ winner.languages|map(attribute="name")|join(', ') }}</td>
                <td class="points">{{ winner.vote_data.sum }}</td>
                <td class="percent">{{ winner.vote_data.pct() }}</td>
                <td class="submitter">{{ winner.submitter }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}