{% extends "base.html" %}
{% from "macros/show_navigation.html" import show_navigation with context %}
{% block title %}Scoreboard: {{ special_name or year }} {{ show_name }}{% endblock %}
{% block headercontents %}
    {% for stylesheet in scoreboard_stylesheets %}
    <link rel="stylesheet" href="{{ static(stylesheet) }}">
    {% endfor %}
    <script src="{{ static(scoreboard_script) }}"></script>
    <script src="{{ static('js/scoreboard.js') }}"></script>
{% endblock %}
{% block navigation %}
{{ show_navigation('scoreboard') }}
{% endblock %}

{% block onload %}onLoad('{{ year }}', '{{ show }}', {{ 'true' if song_title_labels else 'false' }}){% endblock %}
{% block content %}
{% if secret %}
<div class="banner">
    <p>The scoreboard is a secret until the end of the show.</p>
</div>
{% else %}
<div id="scoreboard"{% if scoreboard_style %} data-style="{{ scoreboard_style }}"{% endif %}>
<div id="controls">
    <button onclick="togglePause()" aria-label="Play/Pause"><i class="ph-fill ph-play-pause"></i></button>
    <button onclick="speedDown()" aria-label="Slower"><i class="ph-fill ph-rewind"></i></button>
    <button onclick="speedUp()" aria-label="Faster"><i class="ph-fill ph-fast-forward"></i></button>
    <button id="reset" aria-label="Reset"><i class="ph-fill ph-clock-clockwise"></i></button>
    <button onclick="toggleHeader()" aria-label="Toggle Header"><i class="ph-fill ph-arrows-in"></i></button>
</div>
<div id="from"></div>
<div id="points-row"></div>
<div id="container"></div>
<div id="jury-container">
    <p id="jury-counter">Jury <span id="jury-count">0</span> out of <span id="total-juries">0</span></p>
    <div id="jury-progress"><div id="jury-bar"></div></div>
</div>
</div>
{% endif %}
{% endblock %}
