{% extends "base.html" %}
{% block title %}Scoreboard: {{ year}} {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/scoreboard.css">
    <script src="/static/js/scoreboard.js"></script>
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="/year/{{ year }}/{{ show }}">Results</a>
    <a class="nav-item" href="/year/{{ year }}/{{ show }}/detailed">Detailed Results</a>
{% endblock %}

{% block onload %}onLoad({{ year }}, '{{ show }}'){% endblock %}
{% block content %}
{% if secret %}
<div class="banner">
    <p>The scoreboard is a secret until the end of the show.</p>
</div>
{% else %}
<p id="jury-counter">Jury <span id="jury-count">0</span> out of <span id="total-juries">0</span></p>
<div id="controls">
    <button onclick="togglePause()">Pause</button>
    <button onclick="speedUp()">Faster</button>
    <button onclick="speedDown()">Slower</button>
    <button id="reset">Reset</button>
</div>
<div id="from"></div>
<div id="container"></div>
{% endif %}
{% endblock %}