{% extends "base.html" %}
{% from "macros/languages.html" import language_links %}
{% from "macros/artists.html" import artist_links %}
{% block title %}Years{% endblock %}
{% block headercontents %}
<link rel="stylesheet" href="{{ static('css/year.css') }}">
    <script src="{{ static('js/sort-table.js') }}"></script>
{% endblock %}
{% block content %}

<h2>Specials</h2>
<div class="detail-column-controls">
    <label>
        <input type="checkbox" checked
               onchange="document.querySelectorAll('.adjusted-percent-table').forEach(table => table.classList.toggle('hide-detail', this.checked))">
        Collapse detail columns
    </label>
</div>
<div class="sticky-header-table-container">
    <table class="results-table sticky-header-table sortable adjusted-percent-table hide-detail">
        <thead>
            <tr>
                <th>Special</th>
                <th>Winner</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Language</th>
                <th>Points</th>
                <th>% of Max</th>
                <th class="detail-col" title="Midpoint-adjusted points percentage">Adjusted %</th>
                <th>Submitter</th>
            </tr>
        </thead>
        <tbody>
        {% for special in specials %}
        {% set winner = special.winner %}
            <tr data-value="{{ loop.index }}">
                <td class="year"><a href="{{ url_for('year.results', year='special', show=special.short_name) }}"><b>{{ special.name }}</b></a></td>
                <td><div class="country">
                    {{ flag(winner.country.cc, 42, winner.country.name, variant=winner.country.flag_variant) }}
                    <span href="/country/{{ winner.country.cc }}">{{ winner.country.name }}</span>
                </div></td>
                <td class="artist">{{ artist_links(winner) }}</td>
                <td class="title">{{ winner.title }}</td>
                <td class="language">{{ language_links(winner.languages) }}</td>
                <td class="points">{{ winner.vote_data.sum }}</td>
                <td class="percent">{{ winner.vote_data.pct() }}</td>
                <td class="percent detail-col">{{ winner.vote_data.adjusted_pct() }}</td>
                <td class="submitter">{{ winner.submitter }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
