{% extends "base.html" %}
{% block title %}Results: {{ year or '' }} {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/results.css">
    <script src="/static/js/year.js"></script>
    <script src="/static/js/sort-table.js"></script>
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="{{ url_for('year.year', year=year) }}">{% if year == 'special'%}Specials{%else%}{{year}}{%endif%}</a>
    <a class="nav-item" href="{{ url_for('year.scoreboard', year=year, show=show) }}">Scoreboard</a>
    <a class="nav-item" href="{{ url_for('year.detailed_results', year=year, show=show) }}">Detailed Results</a>
{% endblock %}
{% block content %}
{% if secret %}
<div class="banner">
    <p>The results summary is a secret until the end of the show.</p>
</div>
{% else %}
<div>
    <strong><big>Total voters:{{voters}}</big></strong>
</div>
<div id="scroll-container">
<table class="sortable">
    <thead>
        <tr>
            <th>RO</th>
            <th class="sticky">Country</th>
            <th>Artist</th>
            <th>Title</th>
        {% if access != 'none' and access != 'draw' %}
            <th>Place</th>
            <th>Points</th>
            <th>% of Max</th>
            <th>Voters</th>
        {% for point in points %}
            <th class="point-header"><div>{{ point }}</th>
        {% endfor %}
        {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        {% set place = loop.index + offset %}
        {% set class = {1: 'first', 2: 'second', 3:'third', participants: 'last'}.get(place, '') if access != 'draw' else '' %}
        {% set qclass = ("direct-to-final" if (place <= qualifiers) else "second-chance" if (qualifiers < place <= sc_qualifiers) else "non-qualifier") if access != 'draw' else '' %}
        {% set ro = song.vote_data.ro if song.vote_data.ro is not none and song.vote_data.ro != -1 else '' %}
            <tr data-value="{{ place }}"
                {%if song.hidden %}onclick="revealRow(this)"{% endif %}
                class="{{ class }} {{ qclass }} {{ 'unrevealed' if song.hidden else '' }}">
                <th class="number">{{ ro }}</td>
                <td class="sticky"><div class="country">{{ flag(song.country.cc, 24, song.country.name) }}{{ song.country.name }}</div></td>
                <td>{{ song.artist }}</td>
                <td><a href="{{ url_for('country.details', code=song.country.cc.lower(), year=song.year) }}">{{ song.title }}</a></td>
            {% if access != 'draw' %}
                <td class="number">{{ place }}</td>
                <td class="number">{{ song.vote_data.sum }}</td>
                <td class="number percent">{{ song.vote_data.pct() }}</td>
                <td class="number">{{ song.vote_data.count }}</td>
            {% for point in points %}
                {% set pts = song.get_pt(point) %}
                <td class="number">{{ pts if pts != 0 else '' }}</td>
            {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
</table>
</div>
<fieldset class="grid">
    <legend>Recap</legend>
    {% set url = "https://funcall.me/data/recaps/" ~ year ~ short_name ~ ".mp4" %}
    <video width="560" height="315" controls><source src="{{ url }}" type="video/mp4">Your browser does not support the video tag.</video>
</fieldset>
{% endif %}
{% endblock %}