{% extends "base.html" %}
{% block title %}Results: {{ year or '' }} {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/results.css">
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="/year/{{ year }}/{{ show }}/scoreboard">Scoreboard</a>
    <a class="nav-item" href="/year/{{ year }}/{{ show }}/detailed">Detailed Results</a>
{% endblock %}
{% block content %}
{% if secret %}
<div class="banner">
    <p>The results summary is a secret until the end of the show.</p>
</div>
{% else %}
<div id="scroll-container">
<table>
    <thead>
        <tr>
            <th>RO</th>
            <th class="sticky">Country</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Points</th>
            <th>Voters</th>
        {% for point in points %}
            <th class="point-header">{{ point }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <th class="number">{{ song.vote_data.ro }}</td>
                <td class="sticky">{{ flag(song.cc, song.country) }}{{ song.country }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.title }}</td>
                <td data-value="{{ loop.index }}" class="number">{{ song.vote_data.sum }}</td>
                <td class="number">{{ song.vote_data.count }}</td>
            {% for point in points %}
                {% set pts = song.get_pt(point) %}
                <td class="number {{ "zero" if (pts == 0) else "nonzero" }}">{{ pts}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
</table>
</div>
{% endif %}
{% endblock %}