{% extends "base.html" %}
{% block title %}Overview: {{ year }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/year.css">
    <link rel="stylesheet" href="/static/css/song-table.css">
    <script src="/static/js/sort-table.js"></script>
    <script src="/static/js/year.js"></script>
{% endblock %}
{% block navigation %}
    <a class="nav-item" href="{{ url_for('year.index') }}">Years</a>
    <span class="nav-separator"></span>
    {% for show in shows %}
    <a class="nav-item" href="{{ url_for('year.results', year=year, show=show.short_name)}}"> {{ show.short_name|upper }}</a>
    {% endfor %}
{% endblock %}
{% block content %}
{% if not closed %}
<div class="banner compact">
    <p>Highlighted songs are placeholders and can be replaced.</p>
</div>
{% endif %}

<div>
    <input type="checkbox" id="hidesolid" onchange="hideNonPlaceholders(this)">
    <label for="hidesolid">Only show placeholders</label>
</div>
<div>
    <strong><big>Total entries:{{total}} ({{placeholders}} placeholders)</big></strong>
</div>

<table class="songs-table sortable">
    <thead>
        <tr>
            <th>Country</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Language</th>
            <th>Submitter</th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr data-value="{{ loop.index }}"
            class="{{ "placeholder" if song.placeholder else "finalised" }}" data-value="{{ loop.index }}">
            <td><a href="{{ url_for('country.country', code=song.country.cc.lower()) }}"><div class="country">
                    {{ flag(song.country.cc, 42, song.country.name) }}
                    <span>{{ song.country.name }}</span>
            </div></a></td>
            <td><div class="song-artist">{{ song.artist or '' }}</div></td>
            <td>
                <div class="song-title">
                    <a href="{{ url_for('country.details', code=song.country.cc.lower(), year=song.year) }}">
                        <span lang="{{song.title_lang.str('Latn', song.country.cc2)}}">{{ song.title or '' }}</span>
                    </a>
                {% if song.native_title %}
                    <a href="{{ url_for('country.details', code=song.country.cc.lower(), year=song.year) }}">
                        <bdi lang="{{song.title_lang.str(), song.country.cc2}}">{{ song.native_title }}</bdi>
                    </a>
                {% endif %}
                </div>
            </td>
            <td>{{ song.languages|map(attribute="name")|join(', ') }}</td>
            <td>{{ song.submitter or '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}