{% extends "base.html" %}
{% block title %}Overview: {{ year }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/year.css">
    <script src="/static/js/sort-table.js"></script>
    <script src="/static/js/year.js"></script>
{% endblock %}
{% block content %}
{% if not closed %}
<div class="banner compact">
    <p>Songs in <i>italics</i> are placeholders and can be replaced.</p>
</div>
{% endif %}

<div class="shows">
{% for show in shows %}
    <a href="{{ url_for('year.results', year=year, show=show.short_name) }}">{{ show.name }}</a> {% if not loop.last %}|{% endif %}
{% endfor %}
</div>

<div>
    <input type="checkbox" id="hidesolid" onchange="hideNonPlaceholders(this)">
    <label for="hidesolid">Only show placeholders</label>
</div>

<table class="songs-table sortable">
    <thead>
        <tr>
            <th class="sortable"><div>Country</div></th>
            <th class="sortable"><div>Artist</div></th>
            <th class="sortable"><div>Title</div></th>
            <th class="sortable"><div>Language</div></th>
            <th class="sortable"><div>Submitter</div></th>
        </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr data-value="{{ loop.index }}"
            class="{{ "placeholder" if song.placeholder else "finalised" }}" data-value="{{ loop.index }}">
            <td><div class="country">{{ flag(song.country.cc, 40, song.country.name) }}
                <span href="/country/{{ song.country.cc }}">{{ song.country.name }}</span></div></td>
            <td>{{ song.artist or '' }}</td>
            <td><div class="song-title">
                <span lang="{{song.title_lang.str()}}">{{ song.title or '' }}</span>
                {% if song.native_title %}
                <bdi lang="{{song.title_lang.str()}}">{{ song.native_title }}</bdi>
                {% endif %}
            </div></td>
            <td>{{ song.languages|map(attribute="name")|join(', ') }}</td>
            <td>{{ song.submitter or '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}