{% macro download_playlist(url, show=false, host_available=false, postcards=true, host=false, intervals=false, player=false) %}
<form method="get" action="{{ url }}" class="playlist-options" {% if player %}data-playlist-player{% endif %}>
    <div class="playlist-option">
    <input type="checkbox" name="postcards" id="playlist-postcards" {% if postcards %}checked{% endif %}>
    <label for="playlist-postcards">Postcards</label>
    </div>
    {% if show %}
    {% if host_available %}
    <div class="playlist-option">
    <input type="checkbox" name="host" id="playlist-host" {% if host %}checked{% endif %}>
    <label for="playlist-host">Host entry</label>
    </div>
    {% endif %}
    <div class="playlist-option">
    <input type="checkbox" name="intervals" id="playlist-intervals" {% if intervals %}checked{% endif %}>
    <label for="playlist-intervals">Intervals</label>
    </div>
    {% endif %}
    <button type="submit">Download</button>
</form>
{% endmacro %}
