{% extends "base.html" %}
{% from "macros/artists.html" import artist_links %}
{% block title %}{{ artist.display_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="{{ static('css/results.css') }}">
    <link rel="stylesheet" href="{{ static('css/song-table.css') }}">
    <link rel="stylesheet" href="{{ static('css/country.css') }}">
    <script src="{{ static('js/sort-table.js') }}"></script>
{% endblock %}
{% block content %}
{% if artist.native_name %}<p class="subheading">{{ artist.native_name }}</p>{% endif %}
{% if can_edit %}<p><a class="button" href="{{ url_for('artist.edit', name=artist.display_name) }}">Edit artist</a></p>{% endif %}
<h3>Entries</h3>
<table class="songs-table sortable">
    <thead><tr><th>Year</th><th>Country</th><th>Artist credit</th><th>Title</th></tr></thead>
    <tbody>
    {% for entry in entries %}
        <tr data-value="{{ loop.index }}" class="finalised">
            <td>
                {% if entry.special_short_name %}
                    <a href="{{ url_for('year.special', short_name=entry.special_short_name) }}">{{ entry.special_name }}</a>
                {% else %}
                    <a href="{{ url_for('year.year', year=entry.year_id) }}">{{ entry.year_id }}</a>
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('country.country', code=entry.country_id|lower) }}">
                    <div class="country">
                        {{ flag(entry.country_id, 42, entry.country_name) }}
                        <span>{{ entry.country_name }}</span>
                    </div>
                </a>
            </td>
            <td><div class="song-artist">{{ artist_links(entry) }}</div></td>
            <td>
                <div class="song-title">
                {% if entry.special_short_name %}
                    <a href="{{ url_for('country.special_details', code=entry.country_id|lower, special_short_name=entry.special_short_name, entry_number=entry.entry_number) }}">{{ entry.title }}</a>
                {% else %}
                    <a href="{{ url_for('country.details', code=entry.country_id|lower, year=entry.year_id, entry_number=entry.entry_number) }}">{{ entry.title }}</a>
                {% endif %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="4">No entries are associated with this artist.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
