{%extends "base.html" %}
{% block title %}Detailed Results – {{ show_name }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/results.css">
{% endblock %}
{% block navigation %}
    <a href="/results/{{ show }}" class="nav-item">Results Summary</a>
    <a href="/results/{{ show }}/scoreboard" class="nav-item">Scoreboard</a>
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>RO</th>
            <th>Country</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Total</th>
            {% for voter in results.keys() %}
                <th class="user-vote">
                    <div class="user-vote-container" title="{{ voter }}">
                        <img src="/static/flags/rect/{{ results[voter].code.lower() }}.svg" alt="{{ results[voter].country }}" class="vote-flag">
                        <div class="voter-name">{{ voter }}</div>
                    </div>
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <th class="number">{{ loop.index }}</td>
                <td>{{ song.country }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.title }}</td>
                <td class="number">{{ song.sum }}</td>
                {% for voter in results.keys() %}
                    {% set pts = results[voter].get(song.id, 0) %}
                    <td class="number {{ "zero" if pts == 0 else "nonzero" }}">{{ pts }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}