<!doctype html>
<html lang="en">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/index.css">

    <h1>World Stage Song Contest Home</h1>
    <p>Welcome to the World Stage Song Contest! Here you can vote for your favorite songs and see the results.</p>
    <p>To get started, please select an option below:</p>
    <ul>
        <li><a href="/vote">Vote for Songs</a></li>
        <li><a href="/results">View Results</a></li>
    </ul>
</html>