{% extends "admin/base.html" %}
{% block title %}Administrator Utilities{% endblock %}
{% block admin_navigation %}
    <a class="nav-item" href="{{ url_for('admin.manage_index') }}">Manage</a>
    <span class="nav-separator"></span>
    <a class="nav-item" href="{{ url_for('admin.manage', year=year) }}">{{ year }}</a>
    <span class="nav-separator"></span>
    <a class="nav-item" href="{{ url_for('admin.create_show', year=year) }}">Create show</a>
{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="{{ static('css/forms.css') }}">
{% endblock %}
{% block content %}
<form method="POST">
    <fieldset class="grid">
        <legend>Year</legend>
        <label for="show_name">Full Show Name</label>
        <input name="show_name" id="show_name" required>
        <label for="show_name">Short Show Name</label>
        <input name="short_name" id="short_name">
        <label for="dtf">Qualifiers</label>
        <input type="number" name="dtf" id="dtf">
        <label for="sc">Second Chance</label>
        <input type="number" name="sc" id="sc">
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
    </fieldset>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
{% endblock %}
