{% extends "base.html" %}
{% block title %}Draw {{ year }}{% endblock %}
{% block headercontents %}
    <script>
        const year = {{ year }};
        const multiDraw = true;
    </script>
    <script src="/static/js/draw.js"></script>
    <link rel="stylesheet" href="/static/css/draw.css">
{% endblock %}
{% block content %}
<div id="controls">
    <button onclick="next()" aria-label="Next"><i class="ph-fill ph-play"></i></button>
    <button onclick="save()" aria-label="Save"><i class="ph-fill ph-floppy-disk"></i></button>
    <button onclick="toggleHeader()" aria-label="Toggle Header"><i class="ph-fill ph-arrows-in"></i></button>
</div>

<p class="error hidden"></p>

<div id="shows"{% if single_pot %} class="with-titles"{% endif %}>
{% for show, num, lim in zip(shows, songs, limits) %}
    <div class="show {% if loop.index == 1 %}active1{% endif %}"
         data-name="{{ show.short_name }}"
         data-songs="{{ num }}">
        <h2>{{ show.show_name }}</h2>
        <div class="show-countries"
             data-limit="{{ lim }}"
             data-name="{{ show.short_name }}"
             style="--rows: {{ lim }}; --columns: {{ round(num / lim) }};">
        {% for entry in draw_assignments[show.short_name] %}
            <div class="show-country item transparent"
                 data-id="{{ entry.song_id }}"
                 data-code="{{ entry.cc }}"
                 data-genre="{{ entry.genre if entry.genre is not none else '' }}"
                 data-language="{{ entry.language if entry.language is not none else '' }}"
                 data-pot="{{ entry.pot if entry.pot is not none else '' }}"
                 data-index="{{ loop.index0 }}"
                 style="--row: {{ loop.index0 % lim }}; --column: {{ loop.index0 // lim }};">
                <div class="running-order value">{{ loop.index }}</div>
                <div class="flag-container value">{{ flag(entry.cc, 24, entry.name) }}</div>
                <div class="country-name value">{{ entry.name }}</div>
                {% if single_pot %}
                <div class="song-title value">{{ entry.title }}</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>

<div id="pots"{% if single_pot %} class="single with-titles"{% endif %}>
{% for pot, entries in pots.items() %}
    <div data-index="{{ loop.index }}"
         class="pot {% if single_pot %}pot-wide {% endif %}{% if loop.index == 1 %}active1{% endif %}">
        <h2>{% if single_pot %}Songs{% else %}Pot {{ loop.index }}{% endif %}</h2>
        <div class="pot-container">
        {% for entry in entries %}
            <div class="pot-item item"
                 data-id="{{ entry.song_id }}"
                 data-code="{{ entry.cc }}"
                 data-genre="{{ entry.genre if entry.genre is not none else '' }}"
                 data-language="{{ entry.language if entry.language is not none else '' }}"
                 data-submitter="{{ entry.submitter }}"
                 data-show="{{ entry_show_by_song.get(entry.song_id, '') }}">
                <div class="flag-container">{{ flag(entry.cc, 24, entry.name) }}</div>
                <div class="country-name">{{ entry.name }}</div>
                {% if single_pot %}
                <div class="song-title">{{ entry.title }}</div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
