{% extends "base.html" %}
{% block title %}Administrator Utilities{% endblock %}
{% block content %}
<div>
    <p>
    Since I'm lazy, I'm not gonna try to figure out how to add a tile for draw functionality.
    <p>
    To draw the semifinals for the year, go to <code>https://ws.funcall.me/admin/draw/&lt;year&gt;</code>.
    <p>
    To draw the finals for the year, go to <code>https://ws.funcall.me/admin/draw/&lt;year&gt;/f</code>.
    <p>
    If the second chance round ever returns, you can draw it by going to <code>https://ws.funcall.me/admin/draw/&lt;year&gt;/sc</code>.
</div>
<div class="cards-container">
    <a href="{{ url_for('admin.create_show') }}" class="card">
        <h3>Create Show</h3>
        <img src="/static/images/submit.png" alt="Submit Icon">
        <p>Create new shows for World Stage</p>
    </a>
    <a href="{{ url_for('admin.changes') }}" class="card">
        <h3>Changes</h3>
        <img src="/static/images/history.png" alt="History Icon">
        <p>Recent changes</p>
    </a>
    <a href="{{ url_for('admin.users') }}" class="card">
        <h3>Manage Users</h3>
        <p>Approve and unapprove users</p>
    </a>
    <a href="{{ url_for('admin.move') }}" class="card">
        <h3>Move</h3>
        <p>Change years and countries for entries</p>
    </a>
    <a href="{{ url_for('admin.fuckup_db') }}" class="card">
        <h3>Fuck Up The Database</h3>
        <p>Please don't use this if you don't know what you're doing</p>
    </a>
</div>
{% endblock %}