{% extends "base.html" %}
{% block title %}Manage shows: {{year.id}}{% endblock %}
{% block headercontents %}
    <script src="/static/js/manage.js"></script>
{% endblock %}
{% block content %}
<style>
    .state-cell {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5em;
    }
</style>

<div class="error" id="error">
</div>

<div>
    <h2>Other links</h2>
    <ul>
        <li><a href="{{ url_for('admin.create_show', year=year.id) }}">Create Show</a></li>
        <li><a href="{{ url_for('admin.set_pots', year=year.id) }}">Set Pots</a></li>
</div>

<table>
    <thead>
        <tr>
            <th>Show</th>
            <th>Voting</th>
            <th>Predictions</th>
            <th>Change Status</th>
            <th>Change Date</th>
        </tr>
    </thead>
    <tbody>
        {% set show_statuses = ['none', 'draw', 'partial', 'full'] %}
        {% for show in shows %}
        <tr>
            <td>{{ show.show_name }}</td>
            <td>
                <div class="state-cell">
                {% if show.voting_closes %}
                    <span>Closed</span>
                    <button onclick="openVoting('{{ show.short_name }}')">Reopen</button>
                {% elif show.voting_opens %}
                    <span>Open</span>
                    <button onclick="closeVoting('{{ show.short_name }}')">Close</button>
                {% else %}
                    <span>Not started</span>
                    <button onclick="openVoting('{{ show.short_name }}')">Open</button>
                {% endif %}
                </div>
            </td>
            <td>
                <div class="state-cell">
                {% if show.predictions_close %}
                    <span title="{{ show.predictions_close }}">Closed</span>
                    <button onclick="openPredictions('{{ show.short_name }}')">Reopen</button>
                {% else %}
                    <span>Open</span>
                    <button onclick="closePredictions('{{ show.short_name }}')">Close</button>
                {% endif %}
                </div>
            </td>
            <td>
                <select id="show_status_{{ show.short_name }}">
                    {% for status in show_statuses %}
                    <option value="{{ status }}"
                            {% if show.status == status %}selected{% endif %}>
                        {{ status }}
                    </option>
                    {% endfor %}
                </select>
                <button data-select="show_status_{{ show.short_name }}"
                        onclick="changeShowStatus(this, '{{ show.short_name }}')">Change</button>
            </td>
            <td>
                <input type="date" id="date_{{ show.short_name }}" value="{{ show.date.strftime('%Y-%m-%d') if show.date else '' }}">
                <button data-input="date_{{ show.short_name }}"
                        onclick="changeDate(this, '{{ show.short_name }}')">Change</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <div>
        <label for"year_status">Year Status:</label>
        <select name="year_status" id="year_status">
            {% set statuses = [('open', 'Upcoming'), ('closed', 'Finished'), ('ongoing', 'Ongoing')] %}
            {% for value, label in statuses %}
            <option value="{{ value }}" {% if value == year.status %}selected{% endif %}>
                {{ label }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button onclick="changeYearStatus()">Change Year Status</button>
</div>
{% endblock %}