{% extends "base.html" %}
{% block title %}Manage shows: {{year}}{% endblock %}
{% block headercontents %}
    <script src="/static/js/manage.js"></script>
    <link rel="stylesheet" href="/static/css/forms.css">
{% endblock %}
{% block content %}

<div>
    <p>Set the pots of the countries.
    <p>Set the pot to 0 to remove the country from the draw.
</div>

<div class="error" id="error">
</div>

<form id="set-pots" method="POST">
    <fieldset class="grid">
    {% for country in countries %}
        <label for="{{country.id}}">{{country.name}}</label>
        <input type="number" name="{{country.id}}" id="{{country.id}}"
                value="{{ country.pot if country.pot is not none else 0 }}" min="0">
    {% endfor %}
    </fieldset>
    <div>
        <button type="submit">Set Pots</button>
    </div>
</form>

{% endblock %}