.bias-very-positive {
    background-color: oklch(67.7% 0.224 142.6);
}

.bias-positive {
    background-color: oklch(70.0% 0.196 134.3);
}

.bias-neutral {
    background-color: oklch(75.5% 0.161 109.7);
}

.bias-negative {
    background-color: oklch(59.1% 0.134 58.3);
}

.bias-very-negative {
    background-color: oklch(49.7% 0.193 28.1);
}

.bias-value {
    font-weight: bold;
}

.bias-value:not(.bias-inconclusive) {
    color: var(--bias-text);
}
