.placeholder {
    background-color: var(--background2);
}

.year {
    text-align: right;
    height: 28px;
    vertical-align: center;
}

.song-title {
    padding: 0.25em 0;
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    font-style: italic;
    width: fit-content;
}

.song-title > * {
    width: fit-content;
}