:root {
    --background1: rgb(247, 247, 247);
    --foreground1: rgb(51, 51, 51);
    --background2: rgb(239, 214, 164);
    --foreground2: rgb(11, 25, 43);
    --background3: rgb(229, 229, 229);
    --background3-r: 229, 229, 229;
    --link: rgb(19, 86, 187);
    --visited-link: rgb(162, 19, 187);

    --active-entry-color: rgb(99, 146, 234);
    --own-entry-color: rgb(249, 127, 113);

    --dtf-color: #FFDEAD;
    --sc-color: #AFEEEE;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background2: rgb(11, 25, 43);
        --foreground2: rgb(239, 214, 164);
        --background1: rgb(17, 17, 17);
        --foreground1: rgb(238, 238, 238);
        --background3: rgb(29, 29, 29);
        --background3-r: 29, 29, 29;
        --link: rgb(39, 121, 224);
        --visited-link: rgb(2000, 39, 224);

        --active-entry-color: rgb(27, 56, 112);
        --own-entry-color: rgb(130, 44, 34);
    }
}

:root[data-theme="light"] {
    --background1: rgb(247, 247, 247);
    --foreground1: rgb(51, 51, 51);
    --background2: rgb(239, 214, 164);
    --foreground2: rgb(11, 25, 43);
    --background3: rgb(229, 229, 229);
    --background3-r: 229, 229, 229;
    --link: rgb(19, 86, 187);
    --visited-link: rgb(162, 19, 187);

    --active-entry-color: rgb(99, 146, 234);
    --own-entry-color: rgb(249, 127, 113);
}

:root[data-theme="dark"] {
    --background2: rgb(11, 25, 43);
    --foreground2: rgb(239, 214, 164);
    --background1: rgb(17, 17, 17);
    --foreground1: rgb(238, 238, 238);
    --background3: rgb(29, 29, 29);
    --background3-r: 29, 29, 29;
    --link: rgb(39, 121, 224);
    --visited-link: rgb(2000, 39, 224);

    --active-entry-color: rgb(27, 56, 112);
    --own-entry-color: rgb(130, 44, 34);
}

body {
    font-family: sans-serif;
    color: var(--foreground1);
    background-color: var(--background1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0.5em;
    padding: 0.5em 0;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link);
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.req::after {
    content: "*";
    color: red;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--foreground1);
}

th, td {
    padding: 0.1em 0.25em;
}

#page-nav {
    background-color: var(--foreground2);
    display: flex;
    align-items: stretch;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0 0.5em;
}

.nav-item.nav-item {
    display: flex;
    align-items: baseline;
    padding: 0.5em;
    color: var(--background2);
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

#nav-spacer {
    flex-grow: 1;
}

.nav-item:hover {
    list-style: none;
    background-color: var(--background2);
    color: var(--foreground2);
}

#header-logo {
    color: var(--foreground2);
    display: flex;
    align-items: end;
    gap: 2em;
}

#header-logo-image {
    height: 2.5em;
}

h1 {
    font-size: 2em;
    margin: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}

#page-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-strecher {
    flex-grow: 1;
}

#logo {
    color: var(--foreground2);
}

.tooltip {
    position: absolute;
    border: 1px solid black;
    background-color: var(--background1);
    padding: 0.5em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card.card {
    width: 224px;
    height: 256px;

    background-color: var(--background3);
    text-decoration: none;
    color: var(--foreground1);
    border: 2px solid var(--foreground2);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;

    padding: 0.5em;
}

.card img {
    display: block;
    flex-shrink: 1;
    min-height: 125px;
    max-height: 175px;
    object-fit: contain;
}

.card h3, .card p {
    margin: 0;
}

.flag {
    border: 1px solid grey;
    user-select: none;
}

.center {
    text-align: center;
}

.banner {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border: 2px solid var(--foreground2);
    background-color: var(--background2);
    margin-bottom: 1em;
}

.hidden {
    display: none !important;
}

.banner.compact p, .banner.compact ul {
    margin: 0;
}

.banner.long-text > div, .limit-length {
    max-width: 70ch;
    text-wrap: balance;
}

table.sortable thead th {
    cursor: pointer;
}

table.sortable thead th > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
}

table.sortable thead th > div::after, th.sortable[aria-sort="none"] > div::after {
    content: "";
    display: block;
    height: 1em;
    width: 0.75em;
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOC41IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIzNiAxMiAyOS43NSAxMDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTc0LjU1IDgzLjk5NkgyNy4yYy0zLjUxOS0uMDAzLTUuMjgyIDQuMzEtMi43OTMgNi44M2wyMy42NzYgMjMuOTk4YTMuOTEgMy45MSAwIDAgMCA1LjU4NCAwbDIzLjY3Ni0yMy45OTljMi40ODktMi41Mi43MjYtNi44MzItMi43OTItNi44M00yMy41NDkgNDEuNTMxYTQuMDQgNC4wNCAwIDAgMSAuODUzLTQuMzZsMjMuNjc2LTIzLjk5OGEzLjkxIDMuOTEgMCAwIDEgNS41ODMgMGwyMy42NzYgMjMuOTk5YzIuNDkgMi41Mi43MjcgNi44MzItMi43OTEgNi44M0gyNy4xOTRhMy45NSAzLjk1IDAgMCAxLTMuNjQ1LTIuNDciLz48L3N2Zz4");
}

table.sortable thead th[aria-sort="ascending"] > div::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOC41IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIzNiAxMiAyOS43NSAxMDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIzLjU0OSA0MS41MzFhNC4wNCA0LjA0IDAgMCAxIC44NTMtNC4zNmwyMy42NzYtMjMuOTk4YTMuOTEgMy45MSAwIDAgMSA1LjU4MyAwbDIzLjY3NiAyMy45OTljMi40OSAyLjUyLjcyNyA2LjgzMi0yLjc5MSA2LjgzSDI3LjE5NGEzLjk1IDMuOTUgMCAwIDEtMy42NDUtMi40NyIvPjwvc3ZnPg");
}

table.sortable thead th[aria-sort="descending"] > div::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOC41IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIzNiAxMiAyOS43NSAxMDQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTc0LjU1IDgzLjk5NkgyNy4yYy0zLjUxOS0uMDAzLTUuMjgyIDQuMzEtMi43OTMgNi44M2wyMy42NzYgMjMuOTk4YTMuOTEgMy45MSAwIDAgMCA1LjU4NCAwbDIzLjY3Ni0yMy45OTljMi40ODktMi41Mi43MjYtNi44MzItMi43OTItNi44MyIvPjwvc3ZnPg");

}

bdi {
    text-align: left;
}

.collapsed {
    visibility: collapse !important;
}

.big {
    font-size: 1.5em;
    font-weight: bold;
}