:root {
    --background1: #F7F7F7;
    --foreground1: #333333;
    --background2: #EFD6A4;
    --foreground2: #0B192B;
    --background3: #E5E5E5;
    --link: #1356bb;
    --visited-link: #a213bb;

    --active-entry-color: #6392EA;
    --own-entry-color: #F97F71;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background2: #0B192B;
        --foreground2: #EFD6A4;
        --background1: #111111;
        --foreground1: #EEEEEE;
        --background3: #1D1D1D;
        --link: #1365e0;
        --visited-link: #b413e0;

        --active-entry-color: #1b3870;
        --own-entry-color: #822c22;
    }
}

:root[data-theme="light"] {
    --background1: #F7F7F7;
    --foreground1: #333333;
    --background2: #EFD6A4;
    --foreground2: #0B192B;
    --background3: #E5E5E5;
    --link: #1356bb;
    --visited-link: #a213bb;

    --active-entry-color: #6392EA;
    --own-entry-color: #F97F71;
}

:root[data-theme="dark"] {
    --background2: #0B192B;
    --foreground2: #EFD6A4;
    --background1: #070707;
    --foreground1: #EEEEEE;
    --background3: #1D1D1D;
    --link: #1365e0;
    --visited-link: #b413e0;

    --active-entry-color: #1b3870;
    --own-entry-color: #822c22;
}

body {
    font-family: sans-serif;
    color: var(--foreground1);
    background-color: var(--background1);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited-link);
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.req::after {
    content: "*";
    color: red;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid var(--foreground1);
}

th, td {
    padding: 0.1em 0.25em;
}

#page-nav {
    background-color: var(--foreground2);
    display: flex;
    align-items: stretch;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0 0.5em;
}

.nav-item.nav-item {
    display: flex;
    align-items: baseline;
    padding: 0.5em;
    color: var(--background2);
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

#nav-spacer {
    flex-grow: 1;
}

.nav-item:hover {
    list-style: none;
    background-color: var(--background2);
    color: var(--foreground2);
}

#header-logo {
    color: var(--foreground2);
    display: flex;
    align-items: end;
    gap: 2em;
}

#header-logo-image {
    height: 2.5em;
}

h1 {
    font-size: 2em;
    margin: 0;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}

#page-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header-strecher {
    flex-grow: 1;
}

#logo {
    color: var(--foreground2);
}

.tooltip {
    position: absolute;
    border: 1px solid black;
    background-color: var(--background1);
    padding: 0.5em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card.card {
    width: 224px;
    height: 256px;

    background-color: var(--background3);
    text-decoration: none;
    color: var(--foreground1);
    border: 2px solid var(--foreground2);

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;

    padding: 0.5em;
}

.card img {
    display: block;
    flex-shrink: 1;
    min-height: 125px;
    max-height: 175px;
    object-fit: contain;
}

.card h3, .card p {
    margin: 0;
}

.center {
    text-align: center;
}

.banner {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    border: 2px solid var(--foreground2);
    background-color: var(--background2);
    margin-bottom: 1em;
}

.hidden.hidden.hidden {
    display: none;
}

.banner.compact p, .banner.compact ul {
    margin: 0;
}

.banner.long-text > div {
    max-width: 80ch;
    text-wrap: balance;
}