
.point-header {
    width: 3ch;
}

.zero {
    color: transparent;
}

.number.number {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.user-vote-container {
    overflow: hidden;
    width: 30px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voter-name {
    overflow: hidden;
    width: 3ch;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.vote-flag {
    box-sizing: border-box;
    width: 30px;
    border: 1px solid grey;
}

#scroll-container {
    overflow-x: auto;
}

#scroll-container th, #scroll-container td {
    white-space: nowrap;
}

.country {
    display: flex;
    gap: 0.25em;
}

th.plain {
    font-weight: normal;
    text-align: left;
}

td.header-like {
    font-weight: bold;
    text-align: center;
}

.direct-to-final {
    background: navajowhite;
    color: black;
}

.second-chance {
    background: paleturquoise;
    color: black;
}

.first {
    background: gold;
    color: black;
}

.second {
    background: #CCC;
    color: black;
}

.third {
    background: #C96;
    color: black;
}

.last {
    background: #FE8080;
    color: black;
}

td, th {
    transition: opacity 2s;
}

.unrevealed > td, .unrevealed > th {
    opacity: 0;
}