@keyframes winner {
    from {
        color: #ae2900;
    }

    20% {
        color: #ae2900;
    }

    80% {
        color: #ae6300;
    }

    to {
        color: #ae6300;
    }
}

@keyframes voting {
    from {
        background-color: black;
    }

    to {
        background-color: white;
    }
}

#container {
    position: relative;
    width: 805px;
    height: 600px;
}

#from {
    width: 80%;
    height: 100px;

    position: relative;
    margin: 1em 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5em 1em;

    display: flex;
    align-items: center;
}

#controls, #navigation {
    clear: both;
    float: right;
    background: lightblue;
    border: 1px solid black;
    padding: 0.5em;
}

#navigation {
    margin-top: 8px;
}

.voting-card {
    position: absolute;
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 1em;

    transition: transform 2s;
}

.voting-card-flag {
    height: 95px;
    border: 1px solid grey;
}

.voting-card-user-wrapper {
    font-family: 'Eurostile', sans-serif;
    display: flex;
    flex-direction: column;
}

.voting-card-name {
    font-size: 3em;
    white-space: nowrap;
    font-weight: bold;
}

.voting-card-country {
    font-size: 0.75em;
    font-weight: bold;
}

#points-row {
    /*display: flex;*/
    display: none;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    width: 805px;
    margin-left: 1em;
}

.points-value {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    font-family: 'DSEG7 Classic Mini', sans-serif;
    background-color: black;
    color: #ae2900;
    font-size: 150%;
    transition: filter 1.5s;
    border-radius: 4px;

    border: 2px solid var(--foreground1);
    border-radius: 8px;
    width: 2ch;
    height: 2ch;
    font-weight: bold;

    filter: brightness(2);
}

/*
.voting-card-points-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.1));
    border-radius: 8px;
}*/

.points-value.spent {
    filter: brightness(0.5);
}

.gold {
    border-color: gold;
}

.silver {
    border-color: #CCC;
}

.bronze {
    border-color: #C96;
}

.wooden-spoon {
    border-color: #FE8080;
}

.unloaded {
    transform: translate(200%);
}

.unloaded2 {
    transform: translate(-200%);
}

.element {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    border: 2px solid var(--foreground1);
    height: 40px;
    border-radius: 6px;

    transition: top 1s, left 1s, border-color 1s;
    background: var(--background3);
    font-weight: bold;
    font-variant: small-caps;

    overflow: hidden;
}

.inner-container {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 4px 4px 4px 0;
}

.element-overlay {
    display: none;
}

/*
.element-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.1));
}*/

.name-container {
    font-family: 'Eurostile', sans-serif;
    font-size: 1.25em;
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-variant-caps: petite-caps;
    line-height: 1;
}

.name {
    text-box: trim-both cap alphabetic;
}

.title-container {
    display: flex;
}

.element-place {
    display: none;
    box-sizing: border-box;
    padding-right: 0;
    width: 0;
    font-size: 1.5em;
    opacity: 0;
    transition: width 1s, opacity 2.5s;
}

.element-place.visible {
    padding-right: 0.5ch;
    width: 2.5ch;
}

.element-place.solid {
    opacity: 1;
}

.flag-container {
    position: relative;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
}

.flag-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flag-overlay.simple-gradient {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2));
}

.flag-overlay.dot-mask {
  background-image: 
    radial-gradient(
      circle, 
      transparent 0, transparent 0.5px,
      black 0.5px, black 1px
    );
  background-size: 2px 2px;
  background-repeat: repeat;
}

.flag {
    width: 100%;
    height: 100%;
    border: none;
}

.subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.number {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.point-display {
    position: relative;
    padding: 2px;
    font-family: 'DSEG7 Classic Mini', sans-serif;
    background-color: black;
    color: #ae2900;
    font-size: 1.5em;
    height: 1em;
    transition: filter 1s;
    border-radius: 4px;
}

/*
.currently-voting {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: black;
    border: 2px solid black;
    margin-right: 0.5em;
}

.own-entry .currently-voting {
    animation: voting 1s infinite alternate;
}
*/

.current-points {
    min-width: 2ch;
}

.total-points {
    min-width: 3ch;
}

.point-display .digits-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point-display .background-digits {
    filter: brightness(0.4);
    pointer-events: none;
}

.point-display .foreground-digits span {
    transition: filter 1s;
}

.inactive .total-points .foreground-digits .nonzero-value {
    filter: brightness(2);
}

.inactive .current-points .foreground-digits span.nonzero-value {
    filter: brightness(0.4);
}

.inactive .foreground-digits .zero-value {
    filter: brightness(0.75);
}

.active .point-display {
    animation: winner 0.5s 2 alternate linear;
}

.active .point-display .nonzero-value {
    filter: brightness(2.5);
}

.point-display .foreground-digits .zero-value {
    filter: brightness(0.4);
}

.current-points.showing-place {
    filter: brightness(2);
}

.own-entry .current-points {
    filter: brightness(0.1);
}

.winner .total-points {
    animation: winner 2s infinite alternate linear;
}

.main-moving {
    z-index: 100;
}

.other-moving {
    z-index: -50;
}

.hidden {
    display: none;
}

#jury-container {
    font-family: 'Eurostile', sans-serif;
    position: absolute;
    bottom: 1em;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
}

#jury-counter {
    text-align: right;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

#jury-progress {
    border: 1px solid var(--foreground1);
    width: 100%;
    height: 1em;
    overflow: hidden;
    background-color: var(--background1);
}

#jury-bar {
    background: green;
    height: 100%;
    width: 0;
    transition: width 2s, filter 1s;
}

#jury-bar.animating {
    filter: brightness(1.5);
}