@keyframes winner {
    from {
        background: white;
    }

    to {
        background: gold;
    }
}

#container {
    position: relative;
    width: 1000px;
    height: 600px;
}

#from {
    width: 80%;
    height: 100px;

    position: relative;
    margin: 1em 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0.5em 1em;

    display: flex;
    align-items: center;
}

#controls, #navigation {
    clear: both;
    float: right;
    background: lightblue;
    border: 1px solid black;
    padding: 0.5em;
}

#navigation {
    margin-top: 8px;
}

.voting-card {
    position: absolute;
    width: 50%;
    height: 100%;
    align-items: center;
    display: flex;
    gap: 1em;

    transition: transform 2s;
}

.voting-card-flag {
    height: 95px;
    border: 1px solid grey;
}

.voting-card-user-wrapper {
    display: flex;
    flex-direction: column;
}

.voting-card-name {
    font-size: 3em;
    white-space: nowrap;
    font-weight: bold;
}

.voting-card-country {
    font-size: 1.5em;
    font-weight: bold;
}

.unloaded {
    transform: translate(200%);
}

.unloaded2 {
    transform: translate(-200%);
}

.element {
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    border: 1px solid black;
    display: flex;
    gap: 0.25em;
    padding: 2px;
    height: 42px;

    transition: top 1s, left 1s, background 1s;
    background: white;
}

.name-container {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
}

.flag-container {
    height: 36px;
    min-width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    height: 32px;
    border: 1px solid grey;
}

.subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.number {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.current-points {
    font-size: 200%;
    opacity: 0%;
    transition: opacity 1s;
    min-width: 3ch;
    font-variant-numeric: tabular-nums;
}

.current-points.visible {
    opacity: 100%;
}

.total-points {
    font-size: 200%;
    min-width: 4ch;
    font-variant-numeric: tabular-nums;
}

.main-moving {
    z-index: 100;
}

.other-moving {
    z-index: -50;
}

.active {
    background: cornflowerblue;
}

.own-entry {
    background: salmon;
}

.no-win {
    background: gray;
}

.active.no-win {
    background: darkblue;
    color: white;
}

.winner {
    animation: ease-out winner 2s infinite alternate;
}

.hidden {
    display: none;
}

#jury-counter {
    float: right;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}