.song-title {
    padding: 0.25em 0;
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    font-style: italic;
}

.song-title > a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;

    width: fit-content;
    max-width: 300px;
    padding: 0.05em 0.1em;
}

.song-artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    max-width: 300px;
    word-wrap: break-word;
}