th, td {
    padding: 0.25em;
}

.line {
    min-height: 1em;
    line-height: 1.2;
}

li {
    text-wrap: balance;
}

li > div {
    padding: 0.25em;
}

li:target > div {
    background: yellow;
    color: black;
}

div.source-link {
    font-family: monospace;
}

.footnote-link {
    position: relative;
}

.footnote-link::after {
    content: attr(data-footnote-content);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.05em;
    color: var(--foreground2);
    border: 1px solid var(--foreground2);
    background-color: var(--background2);
    display: none;
    z-index: 100;
    padding: 0.25rem;
    min-width: 40vw;
    max-width: 60vw;
    transition: display 0.5s ease-in-out;
}

.footnote-link:hover::after {
    display: block;
}

.video {
    padding: 1em 0;
}

.lyrics-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 0.5em;
}

.all-lyrics {
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-template-rows: repeat(var(--rows), auto);
    gap: 0.1em 0.8rem;
    clear: both;
    width: max-content;
}

.lyrics-item {
    grid-column: var(--column);
    grid-row: var(--row);
    word-break: keep-all;
    white-space: pre;
    width: max-content;
    min-height: 1em;
    tab-size: 1em;
}

.song-title {
    font-style: italic;
    display: flex;
    flex-direction: column;
}