.all-lyrics {
    display: flex;
    gap: 1em;
}

.song-title {
    padding: 0.25em 0;
    display: flex;
    gap: 0.25em;
    flex-direction: column;
    font-style: italic;
}

th, td {
    padding: 0.25em;
}

.line {
    min-height: 1em;
    line-height: 1.2;
}

li {
    max-width: 50%;
    text-wrap: balance;
}

li > div {
    padding: 0.25em;
}

li:target > div {
    background: yellow;
    color: black;
}

.footnote-link {
    position: relative;
}

.footnote-link::after {
    content: attr(data-footnote-content);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.05em;
    color: var(--foreground2);
    border: 1px solid var(--foreground2);
    background-color: var(--background2);
    display: none;
    z-index: 100;
    padding: 0.25rem;
    min-width: 40vw;
    max-width: 60vw;
    transition: display 0.5s ease-in-out;
}

.footnote-link:hover::after {
    display: block;
}