.vote-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    width: 100%;
}

.vote-card {
    background-color: var(--background2);
    border: 2px solid var(--foreground2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
    padding: 0.5em;
}

.voter-name {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
}

h3, p {
    margin: 0;
}

h3 a {
    text-decoration: none;
}

h3 a:visited {
    color: var(--link);
}

td {
    background-color: var(--background3);
}

.user-votes {
    align-self: stretch;
}

.points-data {
    white-space: nowrap;
    font-weight: bold;
    text-align: right;
}

.song-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 40px;
}

.song-title {
    line-height: 1.2em;
    overflow: hidden;display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-wrap: balance;
}