.country {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em;
}

.no-winner {
    background: var(--background3);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.placeholder {
    background-color: var(--background2);
}

.upcoming-year {
    border: 1px solid var(--foreground2);
    background: var(--background3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.5em;
    font-weight: bold;
}

.year-container {
    display: flex;
    align-items: space-between;
    gap: 0.5em;
    flex-wrap: wrap;
}

.shows {
    margin: 1em 0;
}

.artist-name {
    text-wrap: balance;
    width: fit-content;
}

tr {
    transition: opacity 2s;
}

.unrevealed {
    opacity: 0;
}