<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scoreboard</title>

        <link rel="stylesheet" href="/static/scoreboard.css">
        <script src="/static/scoreboard.js"></script>
    </head>

    <body onload="onLoad()">
        <span class="hidden" id="show">{{ show }}</span>
        <div id="controls">
            <button onclick="togglePause()">Pause</button>
            <button onclick="speedUp()">Faster</button>
            <button onclick="speedDown()">Slower</button>
            <button id="reset">Reset</button>
        </div>

        <div id="from">
        
        </div>

        <div id="container">

        </div>
    </body>
</html>