{% extends "base.html" %}
{% block title %}Overview: {{ name }} {{ year }}{% endblock %}
{% block headercontents %}
    <link rel="stylesheet" href="/static/css/song-overview.css">
    <script src="/static/js/sort-table.js"></script>
    <script src="/static/js/year.js"></script>
    <script src="/static/js/footnote.js"></script>
    <link href="https://vjs.zencdn.net/8.23.3/video-js.css" rel="stylesheet" />
    <style>
        #video-player-container {
            max-width: 560px;
            max-height: 315px;
            aspect-ratio: 16 / 9;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #video-player-container > iframe {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}
{% block onload%}onLoad(){% endblock %}
{% block content %}

{% if can_edit %}
<div>
    <a class="button" href="{{ url_for('member.submit', country=song.country.cc.lower(), year=song.year) }}">Edit</a>
</div>
{% endif %}

<div class="basic-song-info">
    <table>
        <tr>
            <th>Artist</th>
            <td>{{ song.artist }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td><div class="song-title">
                <span lang="{{song.title_lang.str('Latn')}}">{{ song.title or '' }}</span>
                {% if song.native_title %}
                <bdi lang="{{song.title_lang.str()}}">{{ song.native_title }}</bdi>
                {% endif %}
            </div></td>
        </tr>
        <tr>
            <th>Language</th>
            <td>{{ song.languages|map(attribute="name")|join(', ') }}</td>
        </tr>
        <tr>
            <th>Submitter</th>
            <td>{{ song.submitter }}</td>
        </tr>
        <tr>
            <th>Placeholder</th>
            <td>{{ "Yes" if song.placeholder else "No" }}</td>
        </tr>
        <tr>
            <th>Recap start</th>
            <td>{{ song.recap_start }}</td>
        </tr>
        <tr>
            <th>Recap end</th>
            <td>{{ song.recap_end }}</td>
        </tr>
    </table>
</div>

<div id="video-player-container" class="video">
    {{ embed|safe }}
</div>

<div class="lyrics-wrapper">
<div class="all-lyrics" style="--rows: {{ rows }}; --columns: {{ columns }};">
    {% set column = 1%}
    {% if translated_lyrics %}
        <h2 class="lyrics-item" style="--row: 1; --column: {{ column }};">English lyrics</h2>
        {% for line in translated_lyrics %}
        <div class="lyrics-item lyrics-line eng-line" lang="en" style="--row: {{ loop.index + 1 }}; --column: {{ column }};">{{ line|safe }}</div>
        {% endfor %}
        {% set column = column + 1%}
    {% endif %}

    {% if latin_lyrics %}
        <h2 class="lyrics-item" style="--row: 1; --column: {{ column }};">Native lyrics (Latin alphabet)</h2>
        {% for line in latin_lyrics %}
        <div class="lyrics-item line lat-line" lang="{{ song.native_lang.str("Latn") }}" style="--row: {{ loop.index + 1 }}; --column: {{ column }};">{{ line|safe }}</div>
        {% endfor %}
        {% set column = column + 1%}
    {% endif %}

    {% if native_lyrics %}
        <h2 class="lyrics-item" style="--row: 1; --column: {{ column }};">Native lyrics (non-Latin alphabet)</h2>
        {% for line in native_lyrics %}
        <div class="lyrics-item line nat-line" lang="{{ song.native_lang.str() }}" dir="auto" style="--row: {{ loop.index + 1 }}; --column: {{ column }};">{{ line|safe }}</div>
        {% endfor %}
        {% set column = column + 1%}
    {% endif %}
</div>
</div>

{% if notes %}
<div class="notes">
    <h2>Notes</h2>
    <ol>
        {% for note in notes %}
        <li class="footnote" id="footnote-{{ loop.index }}"><div>{{ note|safe }}</div></li>
        {% endfor %}
    </ol>
</div>
{% endif %}

{% if can_edit %}
<div class="song-sources">
    <h2>Sources</h2>
    <ol>
    {% for source in sources %}
    {% if source %}
        <li><div class="source-link">{{source|urldecode|urlize}}</div></li>
    {% endif %}
    {% endfor %}
    </ol>
</div>
{% endif %}

<script src="https://vjs.zencdn.net/8.23.3/video.min.js"></script>

{% endblock %}